<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 安卓11及以上因为软件包可见性限制，需要指定判断软件包名 -->
    <queries>
        <package android:name="com.tencent.mobileqq" />
    </queries>

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.E_Finance"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MyInvestmentActivity"
            android:exported="false" />
        <activity
            android:name=".InvestmentInfoActivity"
            android:exported="false" />
        <activity
            android:name=".InvestmentActivity"
            android:exported="false" />
        <activity
            android:name=".FamilyFundsActivity"
            android:exported="false" />
        <activity
            android:name=".FamilyinfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FamilyOriginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AIChatActivity"
            android:exported="false" />
        <activity
            android:name=".DesireActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Bill_Budget"
            android:exported="false" />
        <activity
            android:name=".BillstatisticsinfoActivity"
            android:exported="true" />
        <activity
            android:name=".Billsearch"
            android:exported="true" />
        <activity
            android:name=".BillInfo"
            android:exported="false" />
        <activity
            android:name=".TypeManage"
            android:exported="false" />
        <activity
            android:name=".TypeEdit"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LedgerInfo"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ledgerAdd"
            android:exported="false" />
        <activity
            android:name=".Cycle_Bill_Edit"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Cycle_Bill"
            android:exported="false" />
        <activity
            android:name=".Secret"
            android:exported="false" />
        <activity
            android:name=".SecretPassword"
            android:exported="false" />
        <activity
            android:name=".Account_Setting"
            android:exported="false" />
        <activity
            android:name=".E_Finance_Intro"
            android:exported="false" /> <!-- 设置底部不被输入法顶起 android:windowSoftInputMode="adjustPan" -->
        <activity
            android:name=".Bill_Add"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".Finance"
            android:exported="true"
            android:label="@string/title_activity_finance"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent102070940" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>